{
    "_comment": "This config is only used for i18n message extraction. Main build uses SWC.",
        "@babel/plugin-syntax-dynamic-import",
        ["babel-plugin-react-intl", {
        ["react-intl", {
        }]
    ],
        }]],
        "@babel/preset-env",
        ["@babel/preset-env"],
        "@babel/preset-react"
    ]
}
